<p>
  <b>Product:</b>
  <%=h @working_state.product_id %>
</p>

<p>
  <b>Bin:</b>
  <%=h @working_state.bin_id %>
</p>

<p>
  <b>Routing procedure:</b>
  <%=h @working_state.routing_procedure_id %>
</p>

<p>
  <b>Employee:</b>
  <%=h @working_state.employee_id %>
</p>

<p>
  <b>Good unit:</b>
  <%=h @working_state.good_unit %>
</p>

<p>
  <b>Reject unit:</b>
  <%=h @working_state.reject_unit %>
</p>


<%= link_to 'Back', working_states_path %>