<h1>New routing_procedure</h1>

<% form_for([@routing, @routing_procedure]) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :routing_process_id %><br />
    <%= f.select :routing_process_id, RoutingProcess.all.map {|c| [c.name, c.id]} %>
  </p>

	
  <p>
    <%= f.label :sequence %><br />
    <%= f.text_field :position, :size => 10 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', @routing %>