<div align="center" style="clear">
	<table width="100%" align="center" style="background-color:LightBlue;border-color:white">
		<tr>
			<td align="center">
				<b>Machine : </b>
	            <%= @machine.machine_number %> <br />
	             <b>Asset No : </b>
	             <%= @machine.asset_number %> <br /> 
				
			</td>
			
			<td align="center">
				<table width="100%">
					<tr>
						<td>
							<b>Part No </b> - <%= @product.part_number %> <br />
			                <b>Part Name</b> - <%= @product.part_name %> <br />
					    </td>
						<td>
							<%=	image_tag @product.avatar.url(:thumb) %>
						</td>
					</tr>
				</table>
		
			</td>
			
			<td align="center">
				<b>Processing Date : </b>
				<%= get_the_actual_date %><br />
				<b>Current Shift : </b>
				<%= Shift.find(session[:shift_id]).name rescue "<font color=Red>" + "No Shift Attached" + "</font>" %>
				<br />
			</td>
		</tr>
	</table>

</div>
<br />


<div>
<% form_tag :action => "search_bin" do %>
<table align="center">
	<tr>
		<td align="center"><h1>Register Bin</h1></td>
	</tr>
	<tr>
		<td>
	        <%= text_field_tag "bin_number", nil, :class => "bin_text" %>	
			<%= submit_tag "submit", :class => "submit_button", :disable_with => "please wait ..." %>	
		</td>
	</tr>
	<tr>
		<td align="center">
			<br />
			<br />
		</td>
	</tr>
	
</table>

<% end %>
</div>