    <table style="width: 50%;">
      <tr>
        <td>
          <%= link_to_remote (image_tag("accept.png", :size => "100x100", :border => 0)), :url => {:action => "accept", :id => c.id},
                              :html => {:id => "accept_#{c.id.to_s}"},
                              :loading => "running_accept(#{c.id.to_s})" ,
                              :complete => "show_accept(#{c.id.to_s})"
           %>
           <div id="accept_running_<%= c.id.to_s %>" style="display:none;">
            <%= image_tag("running.png", :size => "100x100", :border => 0) %>
           </div>
          </td>

          <td>
             <table id="inner" style='background-color:<%= c.product.side == Product::LEFT ? "#5CB3FF" : c.product.side == Product::RIGHT ? "#64E986" : "White" %>;'>
              <tr>
                <td style="width: 120px">
                  <img src="<%= c.product.avatar.url(:thumb) %>" alt="<%= c.product.part_name %>" />
                </td>
                <td>
                   <div id="current_detail_<%= c.id.to_s %>">
                     <%= render :partial => "attach_product", :locals => {:attach_product => c } %>
                   </div>
                </td>
              </tr>
              <tr>
                <td colspan="2" id="product_detail_<%= c.id.to_s %>"><%= c.product.part_name %> (<%= c.product.part_number %>) - <%= working_state ? "#{working_state.loaded_unit} / #{working_state.maximum_load}" : "" %></td>

              </tr>
            </table>
        </td>
        <td>
          <%= link_to_remote (image_tag("on-hold.png", :size => "100x100", :border => 0)), :url => {:action => "hold", :id => c.id},
                                  :html => {:id => "hold_#{c.id.to_s}"},
                                  :loading => "running_hold(#{c.id.to_s})",
                                  :complete => "show_hold(#{c.id.to_s})"
          %>
           <div id="hold_running_<%= c.id.to_s %>" style="display:none;">
             <%= image_tag("running.png", :size => "100x100", :border => 0) %>
           </div>
        </td>

        <td>
          <%= link_to (image_tag("reject.png", :size => "100x100", :border => 0)), {:action => "select_reject_area", :id => c.id} %>
        </td>
        <% if @machine.is_barcode_mode? %>
          <td>
          <%= link_to_remote (image_tag("checkout.png", :size => "100x100", :border => 0)), :url => {:action => "checkout", :id => c.id},
                                  :confirm => "Are you sure ?",
                                  :html => {:id => "checkout_#{c.id.to_s}"},
                                  :loading => "running_checkout(#{c.id.to_s})",
                                  :complete => "show_checkout(#{c.id.to_s})"
          %>
          <div id="checkout_running_<%= c.id.to_s %>" style="display:none;">
             <%= image_tag("running.png", :size => "100x100", :border => 0) %>
           </div>
          <%#= link_to_function (image_tag("printer.png", :size => "100x100", :border => 0)) do |page|
                   page[("main_menu"+c.id.to_s).to_sym].visual_effect :slide_up
                   page[("printers"+c.id.to_s).to_sym].visual_effect :slide_down

                 end
             %>
          </td>
        <% end %>
      </tr>
    </table>