<div align="center">
  <table width="100%" align="center" style="background-color:LightBlue;border-color:white">
    <tr>
	<td align="center">
  	  <b>Machine : </b>
          <%= @machine.machine_number %> <br />
	  <b>Asset No : </b>
	  <%= @machine.asset_number %> <br />
	</td>

	<td align="center">
	  <b>Current User :</b>
	  <%= current_user_name %>
	  <br />
	  <b>Status : </b>
	  <% if @machine.down %>
	    <font style="color:red">Down</font>
	  <% else %>
	    <font style="color:green">Working</font>
	  <% end %>
	  <br />
        </td>

	<td align="center">
	  <b>Processing Date : </b>
	  <%= get_the_actual_date %><br />
	  <b>Current Shift : </b>
	  <%= Shift.find(session[:shift_id]).name rescue "<font color=Red>" + "No Shift Attached" + "</font>" %>
	  <br />
	</td>
   </tr>
</table>

</div>
<br />
