<h1>New department</h1>

<% form_for(@department) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :alias %><br />
    <%= f.text_field :alias %>
  </p>
  <p>
  	<%= f.label :level %><br />
    <%= f.select :position, (9.downto(1).to_a) %>
  	</p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '60x4'  %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'View All', departments_path %>