
<h3>Change Password</h3>

<hr>
 
<% form_tag(:action => 'update_password', :id => @administrator) do %>
<center><%= error_messages_for "administrator" %></center>
<table style="width:50%">
    
<tr>
    <td>Password</td>
    <td><%= password_field "administrator", "password", :maxlength => 20, :size => 20   %></td>
  </tr>

   <tr>
    <td>Confirm Password</td>
    <td><%= password_field "administrator", "password_confirmation", :maxlength => 20, :size => 20   %></td>

  </tr>
  <tr>
  
  <td align="center" colspan="2"><br>
    <%= submit_tag "Change Password"  %>
 </td>
</tr>
    
</table>

<% end %>
<br>
 
<%= link_to 'Show', @administrator %> 
