<h1>Listing swap_groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Attached Process</th>
    <th>Action</th>
  </tr>

<% @swap_groups.each do |swap_group| %>
   <tr class="<%= cycle("list0", "list1") %>">
  
    <td><%=h swap_group.name %></td>
    <td><%=h swap_group.description %></td>
    <td align="center"><%= link_to "Add process", add_process_swap_group_path(swap_group)%></td>
    <td align="center"><%= link_to 'Show', swap_group %>
    <%= link_to 'Edit', edit_swap_group_path(swap_group) %>
    <%= link_to 'Destroy', swap_group, :confirm => 'This will delete the attached processes as well. Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New swap_group', new_swap_group_path %>