<h1>New material</h1>

<% form_for(@material) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :raw_code %><br />
    <%= f.text_field :raw_code %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '60x4'  %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'View All', materials_path %>