<% content_for :head do %>

<%= render "/layouts/detect_mac_address_js" %>
	
<% end %>

<h1>New machine</h1>

<% form_for(@machine) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :machine_number %><br />
    <%= f.text_field :machine_number %>
  </p>
  <p>
    <%= f.label :asset_number %><br />
    <%= f.text_field :asset_number %>
  </p>
   <p>
    <%= f.label :mac_address %><br />
    <%= f.text_field :mac_address %>
	<em>
     <input type='button' onclick='showMacAddress()' value='Get Mac Address' />	
    </em>
  </p>
  
   <p>
    <%= f.label :entry_category_id, "Data Entry Method" %><br />
    <%= f.select :entry_category_id, [["TouchSreen", 0], ["Data Entry", 1], ["Barcode Mode", 2]] %>
  </p>

     <p>
    <%= f.label :scan_folder %><br />
    <%= f.text_field :scan_folder %>
  </p>
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '60x4'  %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'View All', machines_path %>