<% content_for :head do %>

<style type="text/css">
<!--

.yellowThing {background-color: #FF9; }
.whiteThing { background-color: #FFF; }
.redThing { background-color: #F00; }
//-->
</style>

<%= javascript_include_tag("smo") %>

<% end %>
<br />
<%= link_to 'Back', assign_warehouses_path %>
<br /><br />

<% form_for @search do |f| %>
<table>
	<tr>
	  <th>Part number</th>
	  <th>Part name</th>
	  <th>Side</th>
          <th>Generic Name</th>
          <th>Category</th>
	  <th>Action</th>
    </tr>
	<tr>
	  <td> <%= f.text_field :part_number_like %></td>
	  <td><%= f.text_field :part_name_like %></td>
	  <td> <%= f.select :side_equals, Product::SIDE_CHOICES, {:include_blank => true} %>	</td>
	  <td> <%= f.select :generic_name_equals, ProcedureProduct.all(:order => "generic_name").map {|c| [c.generic_name, c.generic_name]}, {:include_blank => true} %></td>
	  <td> <%= f.select :category_id_equals, Category.all.map {|c| [c.name, c.id]}, {:include_blank => true} %></td>
	  <td align="center">	<%= f.submit "Filter" %></td>
	</tr>
</table>
<% end %>

 <br />
 <% form_tag(add_routine_product_warehouses_path) do %>
 
 <table>
 	<tr>
 		<th colspan="7" style="color:yellow" align="center">Choose Product to add</th>
 	</tr>
        <tr>
          <th colspan="3">Routing Procedure</th>
          <th colspan="4">
           <%= select_tag("routing_procedure_id", options_from_collection_for_select(@procedures, :id, :fullname)) %>
          </th>
        </tr>
	<tr>
		<th><input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></th>
		<th>Part Number</th>
		<th>Part Name</th>
		<th>Category</th>
		<th>Side</th>
                <th>Warehouse</th>
           
	</tr>
	<% for e in @products %>
	<tr onmouseover="this.className='yellowThing';" onmouseout="this.className='whiteThing';">
		<td align="center"><%= check_box_tag "product["+e.id.to_s+"][selected]"  %></td>
		<td><%= e.part_number %></td>
		<td><%= e.part_name %></td>
		<td><%= e.category.name rescue "" %></td>
		<td><%= e.side %></td>
                <td align="center"><%= select_tag "product[#{e.id.to_s}][warehouse_id]", options_for_select(@warehouses)  %> </td>
                
	</tr>
	<% end %>

 </table>
 <br />

<% unless @products.size.zero? %>
 <%= submit_tag "Attach Product to Routine", :disable_with => "Please wait ..." %>
<% end %>

 <% end %>

