<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
     <title>Production Tracking System</title>
	<%= stylesheet_link_tag 'paginate' %>
	<%= javascript_include_tag :defaults, "show_clock", "soundmanager2", :cache => true %>
	<!--<script type="text/javascript" src="/javascripts/soundmanager2.js"></script>-->
	<script>
         soundManager.url = '/swf/';
         soundManager.flashVersion = 9; // optional: shiny features (default = 8)
         soundManager.useFlashBlock = false; // optionally, enable when you're ready to dive in
         // enable HTML5 audio support, if you're feeling adventurous.
         // soundManager.useHTML5Audio = true;
		 soundManager.debugMode = false;
		 function playGood() {
		  var mySound = soundManager.createSound({
		    id: 'aSound',
		    url: '/audio/alert.mp3'
		    // onload: [ event handler function object ],
		    // other options here..
		  });
		  mySound.play();
		   };
        </script>
	 <%= yield(:head) %>
  </head>
  <body onload="javascript:clock()">
        <div style="float:left;width:100px;height:700px;position:relative;">
	   <% if is_operator? %>
	     <%= render :partial => '/layouts/operator_menu'%>
	   <% elsif is_technician? %>
	     <%= render :partial => '/layouts/technician_menu'%>
	   <% elsif is_supervisor? %>
	     <%= render :partial => '/layouts/supervisor_menu'%>
	   <% elsif is_reviewer? %>
	     <%= render :partial => '/layouts/reviewer_menu'%>
	   <% end %>  
	  </div>
	  
    <div id="flash_div" style="float:left;width:85%;text-align:center;">
	    <%= render "/layouts/production_flash_div" %>
    </div>
	  
    <div style="float:left;width:85%;">
	    <%= @content_for_layout %>
    </div>
		 
    </body>
</html>
